.Main-container {
    display: flex;
    flex-direction: column; /* Coloca el Header arriba y el contenido abajo */
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

.Main-content {
    display: flex;
    flex: 1; /* Ocupa el espacio restante debajo del Header */
    overflow: hidden; /* Evita que el contenido se desborde */
}



.Body-container {
    flex: 1; /* Ocupa el espacio restante */
    overflow-y: auto; /* Permite desplazamiento vertical */
    padding: 1rem; /* Espaciado interno */
    background-color: #f9f9f9; /* Fondo claro para diferenciar */
}